#call.background
	.container
		.row
			.col-md-12.centered
				%h1.underlined
					DONORS
				.spacer
		- @donors.all.each do |donor|
			.row
				.col-md-12.donor-box
					.left-section
						.donor-name
							= link_to donor_path(donor.id) do
								= donor.name
						.donor-address
							= donor.address
						&nbsp;
						&nbsp;
						&bull;
						&nbsp;
						&nbsp;
						.donor-phone
							= number_to_phone(donor.phone_number, area_code: true)
					.right-section
						= mail_to donor.email, class: "btn btn-primary btn-lg donor-button" do
							%i.fa.fa-envelope
							&nbsp;
							Email
						- if user_signed_in?
							- if current_user.admin?
								= link_to edit_donor_path(donor), class: "btn btn-warning btn-lg donor-button" do
									%i.fa.fa-pencil
									&nbsp;
									Edit
								= link_to donor_path(donor), method: :delete, data: { confirm: "Are you sure you want to delete this donor?" }, class: "btn btn-danger btn-lg donor-button" do
									%i.fa.fa-minus-circle
									&nbsp;
									Delete
		- if user_signed_in?
			- if current_user.admin?
				.row
					= link_to new_donor_path, class: "btn btn-success btn-lg donor-button col-md-12" do
						%i.fa.fa-plus
						&nbsp;
						New Donor
