#call.background
	.container
		.row
			.col-md-12.centered
				%h1.underlined
					PICKUPS
				.spacer
		%h2.day-title.left-aligned Monday
		- @pickups.find_all_by_day_of_week("Monday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Tuesday
		- @pickups.find_all_by_day_of_week("Tuesday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Wednesday
		- @pickups.find_all_by_day_of_week("Wednesday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Thursday
		- @pickups.find_all_by_day_of_week("Thursday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Friday
		- @pickups.find_all_by_day_of_week("Friday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Saturday
		- @pickups.find_all_by_day_of_week("Saturday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		%h2.day-title.left-aligned Sunday
		- @pickups.find_all_by_day_of_week("Sunday").each do |pickup|
			= render 'partials/pickup_box', pickup: pickup
		.spacer
		.spacer
		- if user_signed_in?
			- if current_user.admin?
				.row
					= link_to new_pickup_path, class: "btn btn-success btn-lg pickup-button col-md-12" do
						%i.fa.fa-plus
						&nbsp;
						New Pickup
		.spacer
		.spacer
