#call.background
	.container.white-text
		.row
			.col-md-12
				%h1 Create a New Pickup
		.row.spacer
		.row.spacer
		.row.spacer
		= form_for @pickup do |f|
			.row
				.col-md-2
				.col-md-8
					.row
						.col-md-6
							%h3 Donor Window:
							%br/
							= f.time_select :donor_window_start, class: 'form-control'
							to
							= f.time_select :donor_window_end, class: 'form-control'
						.col-md-6
							%h3 Recipient Window:
							%br/
							= f.time_select :recipient_window_start, class: 'form-control'
							to
							= f.time_select :recipient_window_end, class: 'form-control'
				.col-md-2
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					.row
						.col-md-6
							%h3 Donor:
							%br/
							= f.select :donor_id, options_from_collection_for_select(@donors, "id", "name"), class: 'form-control'
						.col-md-6
							%h3 Recipient:
							%br/
							= f.select :recipient_id, options_from_collection_for_select(@recipients, "id", "name"), class: 'form-control'
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					%h3 Instructions:
					%br/
					= f.text_area :instructions, style: 'max-width: 100%; width: 100%; height: 300px;', class: 'form-control'
				.col-md-2
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					%h3 Day Of Week
					%br/
					= f.select :day_of_week, options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]), class: 'form-control'
				.col-md-2
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					= f.submit "Create Pickup", class: 'btn btn-success form-control'
				.col-md-2