#call.background
	.container.white-text
		.row
			.col-md-12
				%h1 Create a New Pickup Report
		.row.spacer
		.row.spacer
		.row.spacer
		= form_for @report do |f|
			.row
				.col-md-2
				.col-md-8
					.row
						.col-md-12
							%h3 Donor (Pickup Location):
							%br/
							= f.select :donor_id, options_from_collection_for_select(@donors, "id", "name", params[:donor_id].to_i), class: 'form-control'
					.row
						.col-md-12
							%h3 Recipient (Dropoff Location):
							%br/
							= f.select :recipient_id, options_from_collection_for_select(@recipients, "id", "name", params[:recipient_id].to_i), class: 'form-control'
					.row
						.col-md-12
							%h3 Volunteer:
							%br/
							= f.select :user_id, options_from_collection_for_select(@volunteers, "id", "full_name", current_user.id), class: 'form-control'
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					%h3 Food Weight:
					%br/
					Produce:
					= f.number_field :produce_weight, class: 'form-control'
					Dairy:
					= f.number_field :dairy_weight, class: 'form-control'
					Meat:
					= f.number_field :meat_weight, class: 'form-control'
					Bread:
					= f.number_field :bread_weight, class: 'form-control'
					Other:
					= f.number_field :other_weight, class: 'form-control'
				.col-md-2
			.row.spacer
			.row.spacer
			.row
				.col-md-2
				.col-md-8
					= f.submit "Create Pickup Report", class: 'btn btn-success form-control'
				.col-md-2